# Ignorar node_modules en todo el proyecto
node_modules/

# Ignorar carpeta dist
dist/
dist/renderer

# Ignorar archivos temporales
*.tmp
*.log
.DS_Store
Thumbs.db

# Ignorar archivos de build en NeoAprendo
NeoAprendo/build/
NeoAprendo/dist/
NeoAprendo/out/
NeoAprendo/*.log